
# Example code in package build process
# knitr and R markdown default cache directories
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
# Output files from R CMD build
# Output files from R CMD check
# produced vignettes
# R Environment Variables
# RStudio files
# Session Data files
# Temporary files created by R markdown
# User-specific files
*-Ex.R
*.html
*.knit.md
*.utf8.md
*_cache/
.DS_Store
.httr-oauth
.Rapp.history
.RData
.Renviron
.Rhistory
.Rproj.user
.Rproj.user/
.Ruserdata
/*.Rcheck/
/*.tar.gz
/cache/
docs
publish
src
vignettes/*.html
vignettes/*.pdf
