
!source/**/_extensions/**
# Example code in package build process
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
# Output files from R CMD build
# Output files from R CMD check
# R Environment Variables
# RStudio files
# Session Data files
# Temporary files created by R markdown
# User-specific files
# knitr and R markdown default cache directories
# produced vignettes
*-Ex.R
*.[rR][dD]ata
*.[rR]ds
*.dbf
*.doc*
*.eps
*.gddoc
*.gdsheet
*.gpkg
*.html
*.knit.md
*.mdb
*.pdf
*.shp*
*.shx
*.sty
*.tex
*.utf8.md
*.xls*
*_cache
*_cache/
*_files
*_freeze
*_libs
.DS_Store
.RData
.Rapp.history
.Renviron
.Rhistory
.Rproj.user
.Rproj.user/
.Ruserdata
.httr-oauth
.quarto
/*.Rcheck/
/*.tar.gz
/cache/
docs
libs
output
publish
renv/library
src
vignettes/*.html
vignettes/*.pdf
