on:
  push:
    branches-ignore:
      - main
      - master
      - ghpages

name: "check package with checklist"

jobs:
  check-package:
    runs-on: ubuntu-latest
    name: "check package"
    steps:
      - uses: inbo/actions/check_pkg@main
        with:
          - CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
          - GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          - ZENODO_SANDBOX: ${{ secrets.ZENODO_SANDBOX }}

